In [1]:
import pandas as pd
import pymongo
from pymongo import MongoClient

In [2]:
url = 'https://space-facts.com/mars/'

In [3]:
tables = pd.read_html(url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [4]:
df = tables[0]
mars_info = df.iloc[0:9]
mars_info.columns = ['Index','Measurements']
mars_info

                  Index                   Measurements
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [5]:
# mars_info_html = mars_info.to_html()
# org_mars_info_html = mars_info_html.replace('\n', '')

In [6]:
table_mars_info = mars_info.to_html('table.html')

In [12]:
mars_info_list = []
mars_info_dict = {}
mars_info_dict['Equatorial Diameter:'] = '6792 km'
mars_info_dict['Polar Diameter:'] = '6752 km'
mars_info_dict['Mass:'] ='6.39 × 10^23 kg (0.11 Earths)'
mars_info_dict['Moons:'] ='2 (Phobos & Deimos)'
mars_info_dict['Orbit Distance:'] ='227,943,824 km (1.38 AU)'
mars_info_dict['Orbit Period:'] ='687 days (1.9 years)'
mars_info_dict['Surface Temperature:']='-87 to -5 °C'
mars_info_dict['First Record:']='2nd millennium BC'
mars_info_dict['Recorded By:']='Egyptian astronomers'

In [13]:
mars_info_list.append(mars_info_dict)
mars_info_list

[{'Equatorial Diameter:': '6792 km',
  'Polar Diameter:': '6752 km',
  'Mass:': '6.39 × 10^23 kg (0.11 Earths)',
  'Moons:': '2 (Phobos & Deimos)',
  'Orbit Distance:': '227,943,824 km (1.38 AU)',
  'Orbit Period:': '687 days (1.9 years)',
  'Surface Temperature:': '-87 to -5 °C',
  'First Record:': '2nd millennium BC',
  'Recorded By:': 'Egyptian astronomers'}]

In [15]:
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)
db = client.Mars_Facts_Table

for facts in mars_info_list:
    db.facts.insert_one(facts)